[submodule "Assets/Plugins/FairyGUI"]
	path = Assets/Plugins/FairyGUI
	url = https://github.com/fairygui/FairyGUI-unity.git
[submodule "Assets/Plugins/UnityGameFramework"]
	path = Assets/Plugins/UnityGameFramework
	url = https://github.com/EllanJiang/UnityGameFramework.git
